# Primera entrega ML - Carlos I. Cabruja Rodil

### Título de proyecto

# Modelización del precio de alquiler de una vivienda en la provincia de Valencia

### Tema

El objetivo de este proyecto consiste en realizar una estimación fiable del precio del alquiler de una vivienda en la provincia de Valencia a partir de los atributos de cada inmueble; atributos como el número de habitaciones, el tipo de vivienda, la ubicación, etc.

Como punto de partida para nuestro análisis se utilizará los datos obtenidos gracias a la API de Idealista (el portal inmobiliario más popular en España) que nos proporciona una lista de inmuebles de la provincia de Valencia, con la información de cada inmueble, como el precio de alquiler, el número de habitaciones, el tipo de vivienda, etc. 

La utilidad de este modelo de regresión no será solo la estimación del precio de alquiler de una vivienda, sino que también servirá como una herramienta para la toma de decisiones en el momento de decidir alquilar el inmueble, ya que con este modelo podremos ver si la publicación de ese inmueble que el usuario quiere alquilar está sobrevalorado por el usuario que ha publicado ese inmueble. Sirviendo así como una herramienta para proteger al usuario en contra de la especulación de otros usuarios.

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [14]:
tipo_ml = "Regresión" # Regresión? Clasificación?
target_descr = "Precio del Alquiler" # Descripción de la variable objetivo
metricas = ["Coeficiente de determinación", "RMSE", "MAE"] # Metricas escogidas para evaluar los modelos

In [15]:
# dasets y enlaces de datasets en Markdown
enlaces = ["https://developers.idealista.com/access-request", "https://api.idealista.com/3.5/es/search"] # ["www.paginacondatos.com", "www.paginawebscrapeada.com", "www.unaapi.com"]

- https://developers.idealista.com/access-request (Pedir accesso a la API)
- https://api.idealista.com/3.5/es/search (API de Idealista 3.5)

In [18]:
import pandas as pd
# load dataset
df_1 = pd.read_csv("../data/rent_Valencia.csv")
df_1.head()

,propertyCode,thumbnail,externalReference,numPhotos,floor,price,propertyType,operation,size,exterior,...,suggestedTexts,hasPlan,has3DTour,has360,hasStaging,topNewDevelopment,district,neighborhood,labels,newDevelopmentFinished
0,97693036,https://img3.idealista.com/blur/WEB_LISTING/0/...,AV2203006-1,30,11,1500.0,penthouse,rent,80.0,True,...,"{'subtitle': 'Tavernes de la Valldigna', 'titl...",False,False,False,False,False,NaN,NaN,NaN,NaN
1,98039610,https://img3.idealista.com/blur/WEB_LISTING/0/...,AV2206084,18,3,1600.0,flat,rent,193.0,True,...,"{'subtitle': 'Pinedo', 'title': 'Piso'}",False,False,False,False,False,NaN,NaN,NaN,NaN
2,98042660,https://img3.idealista.com/blur/WEB_LISTING/0/...,IM648,9,3,850.0,flat,rent,110.0,True,...,"{'subtitle': 'El Cabanyal-El Canyamelar, Valèn...",False,False,False,False,False,Poblats Marítims,El Cabanyal-El Canyamelar,NaN,NaN
3,98042528,https://img3.idealista.com/blur/WEB_LISTING/0/...,V1134,29,3,950.0,flat,rent,101.0,True,...,"{'subtitle': 'El Carme, València', 'title': 'P...",False,False,True,False,False,Ciutat Vella,El Carme,NaN,NaN
4,98042519,https://img3.idealista.com/blur/WEB_LISTING/0/...,AV2206086,18,bj,900.0,flat,rent,45.0,True,...,"{'subtitle': 'El Pilar, València', 'title': 'P...",False,False,False,False,False,Ciutat Vella,El Pilar,NaN,NaN

In [19]:
# load dataset
df_2 = pd.read_csv("../data/rent_Valencia_cleaned.csv")
df_2.head()

,propertyCode,numPhotos,floor,price,propertyType,size,exterior,rooms,bathrooms,latitude,...,priceByArea,hasPlan,has3DTour,has360,hasStaging,topNewDevelopment,newDevelopmentFinished,hasParkingSpace,isParkingSpaceIncludedInPrice,parkingSpacePrice
0,97693036,30,11,1500.0,penthouse,80.0,True,3,2,39.101077,...,19.0,False,False,False,False,False,True,True,True,0.0
1,98039610,18,3,1600.0,flat,193.0,True,4,1,39.420725,...,8.0,False,False,False,False,False,True,False,False,0.0
2,98042660,9,3,850.0,flat,110.0,True,3,1,39.463590,...,8.0,False,False,False,False,False,True,False,False,0.0
3,98042528,29,3,950.0,flat,101.0,True,3,2,39.479151,...,9.0,False,False,True,False,False,True,False,False,0.0
4,98042519,18,0,900.0,flat,45.0,True,1,1,39.474174,...,20.0,False,False,False,False,False,True,False,False,0.0